{% extends 'base.html' %}

{% block content %}

{% for key, value in data.items%}

    <p> {{ value.artist }}</p>

    <p>{{ key |capfirst }} : {{ value.name }}</p>

    {%for key, value in data.album.image.3.items%}
    {% if key == '#text' %}
    <img src="{{value}}" alt="" height="400px" width="400px">
    {% endif %}
    {% endfor %}

    {%for key, value in data.album.wiki.items%}
    {% if key == 'published' %}
    <p> Published: {{ value |safe  }}</p>
    {% endif %}
    {% endfor %}

    {%for key, value in data.album.tags.items %}
    {%for name in value %}
    {% if forloop.counter0 == 1%} 
    <p>Genre: {{name.name}} </p> 
    {% endif %}
    {% endfor %}
    {% endfor %}
    
    {%for key, value in data.album.tracks.items %}
    <ol>
        {%for name in value %}
        <li>{{name.name}}</li>
        {% endfor %}
    </ol>
    {% endfor %}
    

    {%for key, value in data.album.wiki.items%}
    {% if key == 'content' %}
    <p>Summary <br> {{ value |safe  }}</p>
    {% endif %}
    {% endfor %}

    

{% endfor %}

{% endblock %}