{% extends 'base.html' %}

{% block content %}
<h1>Bookflix</h1>

{% comment %} Below is just for testing. Can be removed later. {% endcomment %}
{% if user.is_authenticated %}
    <h3>Hi, {{ user.username }}</h3>
{% endif %}

<form action="" method="get">
    {{ form.as_p }}
    <input type="submit" value="Search">
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

{% if data %}
    {% for key, value in data.items%}

        <p> {{ value.artist }}</p>

        <p>{{ key |capfirst }} : {{ value.name }}</p>

        {%for key, value in data.album.image.3.items%}
            {% if key == '#text' %}
                <img src="{{value}}" alt="" height="400px" width="400px">
            {% endif %}
        {% endfor %}

    {%for key, value in data.album.wiki.items%}
        {% if key == 'published' %}
            <p> Published: {{ value |safe  }}</p>
        {% endif %}
    {% endfor %}

    {%for key, value in data.album.tags.items %}
        {%for name in value %}
            {% if forloop.counter0 == 1%} 
                <p>Genre: {{name.name}} </p> 
            {% endif %}
        {% endfor %}
    {% endfor %}

    {%for key, value in data.album.tracks.items %}
    <ol>
        {%for name in value %}
            <li>{{name.name}}</li>
        {% endfor %}
    </ol>
    {% endfor %}


    {%for key, value in data.album.wiki.items%}
        {% if key == 'content' %}
            <p>Summary <br> {{ value |safe  }}</p>
        {% endif %}
    {% endfor %}



    {% endfor %}

    
{% endif %}
{% endblock %}