{% extends 'base.html' %}

{% block content %}
<h1>Bookflix</h1>

{% comment %} Below is just for testing. Can be removed later. {% endcomment %}
{% if user.is_authenticated %}
    <h3>Hi, {{ user.username }}</h3>
{% endif %}

<form action="" method="get">
    {{ form.as_p }}
    <input type="submit" value="Search">
</form>
    
    
    
    {% comment %} {%for key, value in data.album.image.3.items%}
    {% if key == '#text' %}
    <img src="{{value}}" alt="" height="400px" width="400px">
    {% endif %}
    {% endfor %}

    
    {% for key, value in data.items%}

    
    <p>{{ key |capfirst }} : {{ value.name }}</p>
    
    {% endfor %}

    <a href="{% url 'album_details' %}" style="color: red; font-size: 20px;">View Album Details</a> {% endcomment %}
    



  
  


{% endblock %}