{% extends 'base.html' %}

{% block content %}
<h1>Bookflix</h1>

{% comment %} Below is just for testing. Can be removed later. {% endcomment %}
{% if user.is_authenticated %}
    <h3>Hi, {{ user.username }}</h3>

    
   
    
    {% endif %}
    
    
    
    {%for key, value in data.album.image.3.items%}
    {% if key == '#text' %}
    <img src="{{value}}" alt="" height="400px" width="400px">
    {% endif %}
    {% endfor %}

    {% for key, value in data.items%}
    <p>{{ key }} : {{ value.name }}</p>
    {% endfor %}



  
  


{% endblock %}