{% extends 'base.html' %}

{% block content %}
<div class="log-background absolute flex min-h-[70rem] h-screen w-full bg-cover overflow-x-hidden">

    <main>
        <div 
        class="h-20 w-screen bg-gradient-to-b from-black to-[rgba(0,0,0,0)] z-10">
        </div>
        <h1 class="absolute font-bold text-3xl md:text-5xl text-red-600 left-4 top-4">
            THE RECORD SLEEVE
        </h1>
        <form action="{% url 'login' %}" method="post" 
        class="log-form justify-center items-center absolute 
        border border-black rounded-xl text-white bg-black/75 h-[40rem] w-[28rem] top-[26rem] 
        left-1/2 -translate-x-1/2 -translate-y-1/2">
            <h1 class="absolute left-20 top-20 text-5xl font-semibold">
                Login
            </h1>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" class="absolute left-1/2 top-2/3 
            -translate-x-1/2 -translate-y-1/2 bg-red-600 w-[17rem] md:w-3/4 h-12 rounded-lg font-bold 
            hover:bg-red-500 hover:text-black cursor-pointer">
            <input type="hidden" name="next" value="{{ next }}">
            <span class="absolute bottom-32 left-20 text-gray-400">
                New to Bookflix? 
                <a href="{% url 'signup' %}" class="font-bold text-white">
                    Sign up now
                </a>
            </span>
        </form>
    </main>

    <footer class="absolute grid grid-rows-[3rem_1fr_3rem] items-center gap-1 bottom-0 
    bg-black/75 text-gray-400 w-full p-10">
        <p>Contact us: 1-800-555-3245</p>
        <div class="grid grid-cols-2 md:grid-cols-4 pb-3 gap-3 ">
            <p>FAQ</p>
            <p>help Center</p>
            <p>Terms of Service</p>
            <p>Privacy</p>
            <p>Cookie Prefrences</p>
            <p>Corporate Information</p>
        </div>
        <p class="relative bg-black border border-gray-400 w-24 p-2">
            English 
            <span class="absolute right-3 top-0.5 text-xl">
                ⌄
            </span>
        </p>
    </footer>

</div>
{% endblock %}