.log-background {
    background-image: url("https://images.unsplash.com/photo-1542208998-f6dbbb27a72f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVjb3JkJTIwc2hvcHxlbnwwfHwwfHw%3D&w=1000&q=80");
}



/* LOGIN/SIGNUP ----- */

/* USERNAME FIELD */
.log-form > input + p {
    position: absolute;
    left: 50%;
    top: 12rem;
    transform: translate(-50%, -50%);
    width: 75%;
}
/* username input */
.log-form > input + p > input{
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    padding: 1rem;
    background-color: rgb(75 85 99);
}
/* username input on focus*/
.log-form > input + p > input:focus {
    border: transparent;
    outline: none;
    box-shadow: none;
}


/* ERROR USERNAME FIELD */
.errorlist + p {
    position: absolute;
    left: 50%;
    top: 12rem;
    transform: translate(-50%, -50%);
    width: 75%;
}
/* error username input */
.errorlist + p > input{
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    padding: 1rem;
    background-color: rgb(75 85 99);
}
/* errror username input on focus*/
.errorlist + p > input:focus {
    border: transparent;
    outline: none;
    box-shadow: none;
}


/* PASSWORD FIELD */
.log-form > input + p + p {
    position: absolute;
    left: 50%;
    top: 18rem;
    transform: translate(-50%, -50%);
    width: 75%;
}
/* password input */
.log-form > input + p + p > input{
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    padding: 1rem;
    background-color: rgb(75 85 99);
}
/* password input on focus*/
.log-form > input + p + p > input:focus{
    border: transparent;
    outline: none;
    box-shadow: none;
}


/* ERROR PASSWORD FIELD */
.errorlist + p + p {
    position: absolute;
    left: 50%;
    top: 18rem;
    transform: translate(-50%, -50%);
    width: 75%;
}
/* error password input */
.errorlist + p + p > input{
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    padding: 1rem;
    background-color: rgb(75 85 99);
}
/* error password input on focus*/
.errorlist + p + p > input:focus{
    border: transparent;
    outline: none;
    box-shadow: none;
}

/* sign in page error message */
.nonfield > li {
    position: absolute;
    bottom: 16rem;
    text-align: center;
    color: rgb(255, 21, 21);
    font-weight: 400;
    font-size: 1rem;
}




/* SIGNUP ONLY ----- */

/* PASSWORD CONFIRMATION FIELD */
.log-form > input + p + p + ul + p + p {
    position: absolute;
    left: 50%;
    top: 23rem;
    transform: translate(-50%, -50%);
    width: 75%;
}
/* error password conrirmation field */
.log-form > input + p + p + ul + p + ul + p {
    position: absolute;
    left: 50%;
    top: 23rem;
    transform: translate(-50%, -50%);
    width: 75%;
}
/* password confirmation input */
.log-form > input + p + p + ul + p + p > input {
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    padding: 1rem;
    background-color: rgb(75 85 99);
}
/* password confirmation input on focus */
.log-form > input + p + p + ul + p + p > input:focus{
    border: transparent;
    outline: none;
    box-shadow: none;
}
/* password requirements */
.log-form > input + p + p + ul {
    position: absolute;
    left: 50%;
    top: 31rem;
    transform: translate(-50%, -50%);
    width: 75%;
}

/* signup page error messages */
.errorlist {
    text-align: center;
    padding-top: 1rem;
    font-size: .8rem;
    color: red;
    font-weight: 700;
}



.helptext {
    display: none
}


.all-albums-list::-webkit-scrollbar {
    display: none;
}
.index-my-albums-list::-webkit-scrollbar {
    display: none;
}
.pop-albums-list::-webkit-scrollbar {
    display: none;
}
.hip-hop-albums-list::-webkit-scrollbar {
    display: none;
}
.rock-albums-list::-webkit-scrollbar {
    display: none;
}
.funk-albums-list::-webkit-scrollbar {
    display: none;
}
.rb-albums-list::-webkit-scrollbar {
    display: none;
}
.country-albums-list::-webkit-scrollbar {
    display: none;
}
.reggaeton-albums-list::-webkit-scrollbar {
    display: none;
}

.index-modal::-webkit-scrollbar {
    display: none;
}

